<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="unicode">
    <title>{% block title %}Todos{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static "todos/css/bootstrap/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "todos/css/main.css" %}" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% load staticfiles %}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static "todos/js/bootstrap.js" %}"></script>
<div class="container">
    <div class="page-header">
        <h1>
            {% block header_text %}Projects{% endblock %}
            {% block header_user_info %}
                <div id="header-right">
                    <a href="/" class="header-nav">Home</a>
                    <a href="/" class="header-nav">Stats</a>
                    {% if user.is_authenticated %}
                        <div class="btn-group" id="header-user-info">
                            <a href="/user/{{ user.username }}" class="btn btn-default">{{ user.username }}</a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </h1>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissable">{{ message }}<a class="close" data-dismiss="alert" href="#">&times;</a></div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>
<div class="navbar-fixed-bottom">
    <p class="footer-text text-center"><a href="https://github.com/oyvindrobertsen/dj_todo">Todos on Github</a></p>
</div>
</body>
</html>