{% extends 'todos/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 class="center-header">Log in</h2>
                <form action="{% url 'todos:login_view' %}" method="post" role="form">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" class="form-control input-lg"/>
                    <input type="password" name="password" placeholder="Password" class="form-control input-lg"/>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
                </form>
                <a href="{% url 'todos:register' %}">Register</a>
            </div>
        </div>
    </div>
{% endblock %}