{% extends "todos/base.html" %}
{% block header_text %}{{ project.title }}{% endblock %}
{% block content %}
<div class="well">
    <h2 class="center-header">Tasks</h2>
    <table class="table">
        {% for todo in project.todo_set.all %}
            {% if todo.completed %}
                <tr id="todo_{{ todo.id }}">
                    <td><input type="checkbox" checked onclick="complete_todo({{ todo.id }})"></td>
                    <td>{{ todo.description }}</td>
                    <td><a href="/todo/{{ todo.id }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="#" onclick="del_todo({{ todo.id }})" id="delete_{{ todo.id }}" class="delete_link"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% else %}
                <tr id="todo_{{ todo.id }}">
                    <td><input type="checkbox" onclick="complete_todo({{ todo.id }})"></td>
                    <td>{{ todo.description }}</td>
                    <td><a href="/todo/{{ todo.id }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="#" onclick="del_todo({{ todo.id }})" id="delete_{{ todo.id }}" class="delete_link" style="visibility:hidden"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <form action="{% url 'todos:submit_todo' %}" method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" name="project_id" value="{{ project.id }}"/>
            <input type="text" name="description" placeholder="Get milk" class="form-control"/>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>


<script>
    $(".alert").alert();

    function del_todo(todo_id) {
        $.post( "{% url 'todos:delete' %}", { id: todo_id, csrfmiddlewaretoken:'{{csrf_token}}' }, function (response) {
            $("#todo_" + todo_id).remove()
        });
    }

    function complete_todo(todo_id) {
        $.post("{% url 'todos:complete' %}", {id: todo_id, csrfmiddlewaretoken:'{{csrf_token }}'}, function (response) {
            var icon_shown = $("#delete_" + todo_id).css("visibility");
            if (icon_shown === "visible") {
                $("#delete_" + todo_id).css("visibility", "hidden");
            } else {
                $("#delete_" + todo_id).css("visibility", "visible");
            }
        });
    }
</script>
{% endblock %}