{% extends "todos/base.html" %}

{% block content %}
{% if project_list %}
    <div class="row">
        {% for project in project_list %}
            <div class="span6">
                <div class="well">
                    <h3><a href="/project/{{ project.id }}">{{ project.title }}</a></h3>
                    <table class="table">
                        {% for todo in project.todo_set.all %}
                            {% if todo.completed %}
                                <tr id="todo_{{ todo.id }}">
                                    <td><input type="checkbox" checked onclick="complete_todo({{ todo.id }})"></td>
                                    <td>{{ todo.description }}</td>
                                    <td><a href="/todo/{{ todo.id }}"><i class="icon-edit"></i></a></td>
                                    <td><a href="#" onclick="del_todo({{ todo.id }})" id="delete_{{ todo.id }}" class="delete_link"><i class="icon-trash"></i></a></td>
                                </tr>
                            {% else %}
                                <tr id="todo_{{ todo.id }}">
                                    <td><input type="checkbox" onclick="complete_todo({{ todo.id }})"></td>
                                    <td>{{ todo.description }}</td>
                                    <td><a href="/todo/{{ todo.id }}"><i class="icon-edit"></i></a></td>
                                    <td><a href="#" onclick="del_todo({{ todo.id }})" id="delete_{{ todo.id }}" class="delete_link" style="visibility:hidden"><i class="icon-trash"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <form action="{% url 'todos:submit_todo' %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.id }}"/>
                        <input type="text" name="description" placeholder="Get milk"/>
                        <button type="submit" class="btn">Add</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="well">
        <p>No projects yet. Better add some below.</p>
    </div>
{% endif %}

<div class="well">
    <h3>Add a project</h3>
    <form action="{% url 'todos:submit_project' %}" method="post" class="form-inline">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title goes here"/>
        <button type="submit" class="btn">Add</button>
    </form>
</div>

<script>
    $(".alert").alert();

    function del_todo(todo_id) {
        $.post( "{% url 'todos:delete' %}", { id: todo_id, csrfmiddlewaretoken:'{{csrf_token}}' }, function (response) {
            $("#todo_" + todo_id).remove()
        });
    };

    function complete_todo(todo_id) {
        $.post("{% url 'todos:complete' %}", {id: todo_id, csrfmiddlewaretoken:'{{csrf_token }}'}, function (response) {
            var icon_shown = $("#delete_" + todo_id).css("visibility")
            if (icon_shown === "visible") {
                $("#delete_" + todo_id).css("visibility", "hidden");
            } else {
                $("#delete_" + todo_id).css("visibility", "visible");
            }
        });
    }
</script>
{% endblock %}