{% extends "todos/base.html" %}
{% block content %}
<div class="well">
    <a href="/">Back</a>
    {% if todo %}
        <h4> {{ todo.description  }} </h4>
        <dl class="dl-horizontal">
            <dt>Time added</dt>
            <dd>{{ todo.pub_date }}</dd>
            <dt>Completed</dt>
            {% if todo.completed %}
                <dd><span class="label label-success">✓</span></dd>
            {% else %}
                <dd><span class="label label-important">X</span></dd>
            {% endif %}
        </dl>
        <ul class="inline">
            <li><form action="{% url 'todos:delete' %}" method="post" class="form-inline">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ todo.id }}" />
                <button type="submit" class="btn">Delete</button>
            </form></li>
            <li><form action="{% url 'todos:complete' %}" method="post" class="form-inline">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ todo.id }}" />
                <button type="submit" class="btn">Complete</button>
            </form></li>
        </ul>
    {% else %}
        <p>Nothing here</p>
    {% endif %}
</div>
{% endblock %}